.pursuance-rti h3{
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}
/* all 2nd td in table */
.pursuance-rti table tr td{
    padding: 0.2rem;
}
.pursuance-rti table tr td:nth-child(1){
    vertical-align: top;
}
.pursuance-rti table tr td:nth-child(2){
    width: 50%;
    vertical-align: top;
    text-align: left;
}
.pursuance-rti table tr td:nth-child(3){
    text-align: left;
}
.pursuance-rti table tr td:nth-child(3) span{
    text-decoration: underline;
}
.annex-table tr td:nth-child(2){
    width: 30% !important;
}
.annex-table tr td{
    text-align: left;
}
.annex-table{
    margin-top: 0 !important;
}
.annex-table tr td:nth-child(1){
    font-weight: 600;
}
.annex-table:nth-last-child(1){
    border-radius: 10px !important;
}