body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./Pages/Homepage/Assets/bg.png);
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  --color1: #06726D;
  --color2: #FFF;
  --font1: Montserrat;
  --font2: Ubuntu;
}