#footer{
    display: flex;
    flex-direction: column;
    padding: 0 8rem;
}
.infoot{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.foot-1{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 14%;
    margin-right: 2rem;
}
.foot-1 div{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}
.foot-1 div img{
    width: 30px;
}
.foot-1 div span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #06726D;
    margin-bottom: 0.3rem;
}
.noti-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: #18A9A2;
    text-decoration: none;
    max-width: max-content;
}
.foot-1 span:nth-child(3) {
    background-color: #18A9A2;
    width: 16%;
    height: 2px;
    margin: 0.3rem 0;
}
.foot-1 a:nth-child(5){
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #06726D;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.3rem;
    max-width: max-content;
}
.foot-1 a:nth-child(5) img{
    width: 30px;
}
.infoot img{
    width: 40%;
}
.foot-2{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.foot-2 a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #06726D;
    text-decoration: none;
    max-width: max-content;
    width: 120%;
}
.foot-dash{
    background-color: #10C1B9;
    width: 1px;
    height: 5rem;
    margin-top: 6rem;
}
.copyrights{
    background: #06726D;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
}

@media screen and (min-width: 1700px){
    .foot-1 div span{
        font-size: 18px;
    }
    .noti-1{
        font-size: 14px;
    }
    .foot-1 a:nth-child(5){
        font-size: 20px;
    }
    .foot-1 a:nth-child(5) img{
        width: 34px;
    }
    .foot-1 span:nth-child(3){
        width: 22%;
    }
    .foot-2 a{
        font-size: 18px;
    }
    .infoot img{
        width: 45%;
    }

}
@media screen and (min-width: 2000px){
    .foot-1 div span {
        font-size: 20px;
    }
    .noti-1 {
        font-size: 15px;
    }
    .foot-1 a:nth-child(5) {
        font-size: 22px;
    }
    .foot-1 a:nth-child(5) img {
        width: 36px;
    }
    .foot-2 a {
        font-size: 20px;
    }
    .infoot img {
        width: 48%;
    }
    .foot-dash {
        width: 1px;
        height: 7rem;
        margin-top: 5rem;
    }
}
@media screen and (min-width: 2400px){
    .foot-1 div span {
        font-size: 24px;
    }
    .noti-1 {
        font-size: 18px;
    }
    .foot-1 span:nth-child(3) {
        width: 28%;
    }
    .foot-1 a:nth-child(5) img {
        width: 40px;
    }
    .foot-1 a:nth-child(5) {
        font-size: 24px;
    }
    .foot-2 a {
        font-size: 24px;
    }
    .foot-2, .foot-1{
        margin-top: 6rem;
    }
    .foot-dash{
        margin-top: 7rem;
    }
}

@media screen and (max-width: 1300px){
    #footer {
        padding: 0 3rem;
    }
    .foot-1 div span{
        font-size: 14px;
    }
    .noti-1{
        font-size: 10px;
    }
    .foot-1 a:nth-child(5){
        font-size: 14px;
    }
    .foot-1 a:nth-child(5) img, .foot-1 div img{
        width: 25px;
    }
    .foot-2 a{
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px){
    .infoot{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px){
    .copyrights{
        font-size: 10px;
    }
    .infoot img {
        width: 54%;
    }
}
@media screen and (max-width: 600px){
    .foot-dash{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .infoot img {
        width: 67%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .foot-1 a:nth-child(5) img, .foot-1 div img{
        position: unset;
    }
    #footer{
        position: relative;
    }
    .infoot{
        gap: 1rem;
    }
    .foot-1{
        margin-right: 6rem;
    }
}
@media screen and (max-width: 425px){
    .foot-1 div span {
        font-size: 16px;
    }
    .foot-1{
        width: 100%;
        margin: 0;
        margin-top: 2rem;
    }
    .noti-1{
        line-height: 8px;
    }
    .foot-2{
        margin-top: 0.5rem;
        background-color: #13aba39f;
        padding: 0.5rem 1.5rem;
        backdrop-filter: blur(2px);
    }
    .copyrights{
        margin-top: 1rem;
        font-size: 8px;
    }
    .foot-2 a {
        color: white;
        font-size: 10px;
    }
    .infoot{
        gap: 0;
    }
    .infoot img{
        bottom: 6.5rem;
    }
    #footer {
        padding: 0px 1.1rem;
    }
}