.w-netw-links a{
    width: 25%;
}
.wh-network table{
    border-radius: 10px;
    margin: 0 !important;
}
.wh-network h1{
    margin-bottom: 0;
    margin-top: 1rem;
}
/* 2nd table */
.wh-network table:nth-child(8){
    border-radius: 0 0 10px 10px;
}
.wh-network table:nth-child(9),
.wh-network table:nth-child(10),
.wh-network table:nth-child(11),
.wh-network table:nth-child(12),
.wh-network table:nth-child(13),
.wh-network table:nth-child(14),
.wh-network table:nth-child(15),
.wh-network table:nth-child(16)
{
    border-radius: 0 0 10px 10px;
    margin-top: 2rem !important;
}
.w-geography img{
    mix-blend-mode: multiply;
}