.notifications-page-full {
  background: url(./Assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#notifications-page {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  position: relative;
}
.noti-upd h1 {
  color: var(--color1);
  font-family: var(--font1);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.noti-upd ul li {
  color: #06726d;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px;
}
.asset-1-noti {
  position: absolute;
  top: -2.5rem;
  left: 2.5rem;
}
.updates-noti {
  margin: 0 6rem;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
  border-radius: 12px;
  background: linear-gradient(127deg, #06726d 0%, #b3c3e3 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
}
.updates-noti h3 {
  color: var(--color2);
  font-family: var(--font1);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.updates-noti ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}
.updates-noti ul li {
    width: 12.5vw;
    height: 2.5rem;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--color2);
  box-shadow: 4px 4px 21px 6px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
    transition: all 0.3s ease-in-out;
}
.updates-noti ul li:hover{
    transform: scale(1.1);
}
.updates-noti ul li a {
  text-decoration: none;
  color: var(--color1);
  font-family: var(--font1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1300px) {
    .asset-1-noti {
        top: 2.5rem;
    }
}
@media screen and (max-width: 1130px) {
    .updates-noti ul li a{
        font-size: 14px;
    }
    .updates-noti ul li {
        width: 10.5vw;
    }
}
@media screen and (max-width: 970px) {
    .updates-noti ul{
        gap: 1rem;
    }
    .updates-noti {
        margin: 0 0rem;
        margin-top: 2.5rem;
        margin-bottom: 6rem;
    }
    .noti-upd h1{
        font-size: 32px;
    }
    .noti-upd ul li{
        font-size: 18px;
        line-height: 30px;
    }
    #notifications-page{
        padding: 0 3rem;
    }
    .asset-1-noti {
        top: 9rem;
        left: 9rem;
        rotate: 90deg;
    }
    .updates-noti ul li {
        width: 12.5vw;
    }
}
@media screen and (max-width: 600px){
    #notifications-page {
        padding: 0px 1rem;
    }
    .updates-noti ul li {
        width: 32.5vw;
    }
    .noti-upd h1 {
        font-size: 22px;
    }
    .noti-upd ul li {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        margin-left: -1.5rem;
    }
    .updates-noti ul li a {
        font-size: 12px;
        
    }
    .updates-noti{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}