.gst-p table{
    border-radius: 10px;
}
.gst-p table th{
    padding: 0.4rem;
}
.gst-p table td a{
    color: var(--color1);
    transition: all 0.3s ease-in-out;
}
.gst-p table td a:hover{
    color: var(--color3);
}
@media screen and (max-width: 600px) {
    /* 1st th */
    .gst-p table tr:nth-child(1) th:nth-child(1){
        width: auto;
    }
    .profile table td:nth-child(1){
        width: auto;
    }
}