.homepage{
    background: url(./Assets/bg.png);
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}