.head-main{
    display: flex;
    flex-direction: column;
}
.head-main span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #06726D;
    padding: 0.3rem 8.5rem;
}
#header{
    display: flex;
    padding: 3rem 8rem 0rem 8rem;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    position: relative;
}
.h-logos{
    width: 11.9rem;
    display: flex;
    justify-content: space-between;
}
.h-logos img{
    mix-blend-mode: multiply !important;
}
.h-links{
    display: flex;
    width: 100%;
}
.h-links ul
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
.h-links ul li{
    position: relative;
}
.h-links ul li a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #06726D;
    text-decoration: none;
    display: flex;
    gap: 0.7rem;
}
.h-links ul li p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #189C96;
    margin: 0;
}

.h-links ul li a:hover {
    color: var(--color-primary);
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
    display: none;
}

.h-links ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: -10%;
    top: 42%;
    z-index: 100;
    background-color: var(--color-black);
}

.h-links ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
    background-color: #d7d7d7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(100% + 2rem);
}

.h-links ul li:hover .dropdown-menu ul li {
    width: 100% !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.dropdown-menu-1 {
    display: none;
}
.dropdown-menu ul{
    padding: 4px 0px 5px 10px;
    margin: 13px 0px 0 8px;
}
.dropdown-menu ul li a{
    font-size: 14px;
    font-weight: 500;
}
.dropdown-menu ul li :hover{
    background: var(--color1);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color2) !important;
}
/* .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 170px;
    top: -0.60rem;
    background-color: var(--color1);
} */

/* .dropdown-menu ul li:hover .dropdown-menu-1 ul {
    background-color: #898989;
    width: 15rem;
    color: white;
}

.dropdown-menu ul li:hover .dropdown-menu-1 ul li {
    width: 100%;
} */
.head-down{
    display: flex;
    padding: 0rem 8rem;
    justify-content: space-between;
    gap: 2rem;
}
.hd-links{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.hd-links ul{
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.hd-links ul li{
    display: flex;
    /* width: 100%; */
    /* gap: 2rem; */
    align-items: center;
}
.hd-links ul a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #06726D;
    text-decoration: none;
    display: flex;
}
.hdspan{
    background-color: #189C96;
    padding: 0 !important;
    margin: 0 !important;
    height: 20px;
    width: 0.9px;
    margin-left: 1rem !important;
}
.search-ar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    width: 14rem;
    height: 1.7rem;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    background: #06726D;
    border-radius: 5px 0 0 5px;
    padding-left: 1rem;
}
.search-box::placeholder{
    color: white;
    /* padding-left: 1rem; */
}
.search-box:focus{
    outline: none;
}
.srbtn{
    border: none;
    padding: 0 0.5rem;
    margin: 0;
    height: 100%;
    background: #06726D;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hd-notification img{
    width: 22px;
}
.h-socials{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
}
.h-socials a img{
    width: 22px;
}
.h-socials a img:hover{
    animation: socials 0.5s ease-in-out infinite alternate;
}
.header-admin .dropdown-menu{
    left: 0 !important;
}
@keyframes socials{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.hd-notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #06726D;
}
.hd-notification:hover{
    animation: notification 1.5s ease-in-out infinite alternate;
}
.hammenu{
    display: none;
}
@keyframes notification{
    0%{
        color: #06726D;
    }
    50%{
        color: #189C96;
    }
    100%{
        color: #06726D;
    }
}
.hd-notification:hover img{
    animation: bell 1.5s ease-in-out infinite alternate;
}
@keyframes bell{
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 10deg;
    }
    50%{
        rotate: -10deg;
    }
    100%{
        rotate: 0deg;
    }
}
@media screen and (min-width: 1700px){
    .h-logos img{
        width: 100%;
    }
    .h-logos{
        gap: 1rem;
    }
    .h-links ul li a{
        font-size: 24px;
        line-height: 36px;
    }
    .h-links ul li p{
        font-size: 16px;
    }
    .head-main span{
        font-size: 18px;
    }
    .search-box{
        width: 16rem;
        height: 2rem;
        font-size: 14px;
    }
    .srbtn{
        /* height: 2.1rem; */
    }
    .hd-links ul a{
        font-size: 18px;
    }
    .h-socials a img{
        width: 24px;
    }
    .hd-notification{
        font-size: 18px;
    }
    .hd-notification img{
        width: 24px;
    }
    #header{
        gap: 10rem;
    }
    .hdspan{
        margin-left: 1.5rem !important;
    }
}
@media screen and (min-width: 1900px){
    #header{
        gap: 14rem;
    }
    .hdspan {
        margin-left: 2rem !important;
    }
}
@media screen and (min-width: 2000px){
    .h-links ul li a{
        font-size: 26px;
    }
    .search-box{
        font-size: 16px;
    }
    .hd-links ul a{
        font-size: 20px;
    }
    .hdspan {
        margin-left: 2.5rem !important;
    }
    .h-socials a img {
        width: 25px;
    }
    .hd-notification {
        font-size: 20px;
    }
    .hd-notification img {
        width: 25px;
    }
}
@media screen and (min-width: 2150px){
    .h-links ul li a {
        font-size: 27px;
    }
    .search-box {
        font-size: 18px;
    }
    .search-box {
        width: 20rem;
        height: 2.5rem;
    }
    .hd-links ul a {
        font-size: 22px;
    }
    .h-socials a img {
        width: 30px;
    }
    .hd-notification {
        font-size: 22px;
    }
    .hd-notification img {
        width: 30px;
    }
}
@media screen and (min-width: 2400px){
    #header {
        gap: 20rem;
    }
    .hd-links ul a, .hd-notification {
        font-size: 24px;
    }
    .h-socials a img, .hd-notification img {
        width: 32px;
    }
}
@media screen and (max-width: 1400px){
    .hd-links ul{
        width: 95%;
    }
}
@media screen and (max-width: 1300px){
    #header {
        padding: 3rem 3rem 0rem 3rem;
    }
    .head-main span{
        padding: 0.3rem 3.5rem;
    }
    .head-down {
        padding: 0rem 3rem;
    }
    .hdspan {
        margin-left: 1.8rem !important;
    }
    .h-links ul li a{
        font-size: 16px;
    }
    .h-links ul li p{
        font-size: 10px;
    }
    .head-main span{
        font-size: 14px;
    }
    .search-box{
        width: 12rem;
        font-size: 10px;
    }
    .srbtn img{
        width: 80%;
    }
    .hd-links ul a, .hd-notification{
        font-size: 14px;
    }
}
@media screen and (max-width: 1150px){
    .hdspan {
        margin-left: 1.2rem !important;
    }
}
@media screen and (max-width: 1150px){
    .hdspan {
        margin-left: 1rem !important;
    }
}
@media screen and (max-width: 1050px){
    .hdspan {
        margin-left: 0.5rem !important;
    }
}
@media screen and (max-width: 1000px){
    .h-links{
        display: none;
    }
    .hammenu{
        display: block;
        z-index: 51;
        position: absolute;
        right: 5%;
    }
    .hamclose{
        display: none;
    }
    .hamopen{
        display: block;
        position: relative;
    }
    .hamopen ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #c2e6f2;
        align-items: center;
        width: 100vw;
        left: -17.9rem;
        z-index: 50;
        top: -5rem;
        /* height: 100vh; */
        justify-content: flex-start;
        padding-top: 5rem;
        padding-bottom: 5rem;
        gap: 2rem;
    }
    .h-links ul li a{
        font-size: 22px;
    }
    .h-links ul li p{
        font-size: 16px;
        text-align: center;
    }
    .h-links ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .h-links ul li:hover .dropdown-menu ul{
        padding: 0;
        width: 20rem;
        display: flex;
        gap: 0.5rem;
        /* padding-right: 2rem; */
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
    .h-links ul li:hover .dropdown-menu{
        top: 164%;
        left: 11rem;
    }
    .head-down{
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .hd-links{
        width: 32rem;
    }
}
@media screen and (max-width: 900px){
    .hamopen ul{
        left: -17.5rem;
    }
}
@media screen and (max-width: 800px){
    .hamopen ul {
        left: -17.2rem;
    }
}
@media screen and (max-width: 600px){
    .hd-links ul{
        flex-wrap: wrap;
    }
    .h-logos {
        width: 7rem;
    }
    .h-logos img{
        width: 42%;
    }
    #header {
        padding: 2rem 0rem 0rem 0.5rem;
    }
    .head-main span {
        padding: 0.3rem 0.8rem;
    }
    .head-down {
        padding: 0rem 0.5rem;
    }
    .hamopen ul {
        left: -11.5rem;
    }
}
@media screen and (max-width: 425px){
    .hamopen ul {
        left: -10.5rem;
    }    
    .h-links ul li:hover .dropdown-menu ul {
        width: 18rem;
        left: -16rem;
    }
    .dropdown-menu ul li a {
        font-size: 16px;
    }
    .head-down {
        padding: 0rem 1rem;
    }
    .hd-links ul a, .hd-notification {
        font-size: 12px;
    }
    .h-socials a img {
        width: 20px;
    }
    #header {
        padding: 1rem 0rem 0rem 0.5rem;
    }
}