.landing{
    padding: 0 8rem;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}
.landing-l{
    width: 55%;
    background: linear-gradient(93.42deg, #06726D 43.4%, #99B7D2 214.34%);
    border-radius: 11px;
    padding: 1.5rem 1.4rem 3.5rem 1.4rem;
}
.landing-r{
    background: linear-gradient(116.42deg, #06726D 50.04%, #B3C3E3 100%);
    border-radius: 15px;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-r h3{
    color: white;
}
.landing-rql{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    padding: 0 1.7rem;
}
.landing-rql a{
    background: #FFFFFF;
    box-shadow: 4px 4px 21px 6px rgba(0, 0, 0, 0.18);
    border-radius: 7px;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #06726D;
    text-decoration: none;  
}
.landing-rql a:hover{
    animation: qlinkshover 0.3s ease-in-out forwards;   
}
@keyframes qlinkshover{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

@media screen and (min-width: 1700px){
    .landing-r h3{
        font-size: 20px;
    }
    .landing-rql a{
        font-size: 16px;
    }
    .landing-rql{
        margin-top: 1.7rem;
        padding: 0 2.4rem;
    }
}
@media screen and (min-width: 2000px){
    .landing-rql {
        padding: 0 6.4rem;
    }
}
@media screen and (min-width: 2150px){
    .landing-rql a {
        font-size: 18px;
    }
    .landing-rql {
        padding: 0px 7.4rem;
    }
}
@media screen and (min-width: 2400px){
    .landing-r h3 {
        font-size: 24px;
    }
    .landing-rql a {
        font-size: 22px;
    }
    .landing-rql{
        margin-top: 1rem;
    }
    .landing-l{
        padding: 2.5rem 1.4rem 4.5rem 1.4rem;
    }
}
@media screen and (max-width: 1500px){
    .landing-rql{
        padding: 0 !important;
    }
}
@media screen and (max-width: 1360px){
    .landing-l{
        width: 50%;
    }
}
@media screen and (max-width: 1300px){
    .landing {
        padding: 0 3rem;
    }
    .landing-r h3{
        font-size: 14px;
    }
    .landing-rql a{
        font-size: 12px;
    }
    .landing-rql{
        padding: 0 2rem !important;
    }
}
@media screen and (max-width: 1150px){
    .landing-rql {
        padding: 0 0rem !important;
    }
}
@media screen and (max-width: 1050px){
    .landing-rql{
        gap: 0.5rem;
    }
}
@media screen and (max-width: 1000px){
    .landing{
        flex-wrap: wrap;
    }
    .landing-l{
        width: 95%;
    }
    .landing-r h3{
        font-size: 18px;
    }
    .landing-rql a{
        font-size: 14px;
    }
    .landing-rql{
        justify-content: center;
    }
    .landing-r{
        padding: 1rem 2rem 2rem 2rem;
    }
}
@media screen and (max-width: 600px){
    .landing {
        padding: 0 0.5rem;
    }
    .landing-l {
        width: 90vw;
    }
}
@media screen and (max-width: 500px){
    .landing-l {
        width: 90%;
    }
}
@media screen and (max-width: 425px){
    .landing-l {
        width: 87%;
    }
    .landing-rql a {
        font-size: 10px;
    }
}