#about {
  margin-top: 2rem;
}
.about-sec {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  color: var(--color1);
  width: 77%;
}
.about-sec h2 {
  font-family: var(--font1);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
}
.about-sec p {
  font-family: var(--font2);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.5px;
}
.about-sec a{
    text-decoration: none;
    color: var(--color1);
    text-align: right;
    margin-right: 2rem;
}
@media screen and (max-width: 600px) {
  .about-sec{
    padding: 0 1rem;
  }
  .about-sec h2{
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .about-sec p{
    font-size: 14px;
    line-height: normal;
    width: 100%;
    text-align: justify;
    font-weight: 400;
  }
  .about-sec{
    width: calc(100% - 2rem);
  }
  .about-sec a{
    margin-right: 0;
    font-size: 14px;
  }
}